//Tipografia
$fuente_principal: 'Work Sans', sans-serif;

//Colores
$sorbus50: #fffaec;
$sorbus100: #fff4d3;
$sorbus200: #ffe5a7;
$sorbus300: #ffd16f;
$sorbus400: #ffb135;
$sorbus500: #ff980e;
$sorbus600: #f67d04;
$sorbus700: #c95d05;
$sorbus800: #9f490d;
$sorbus900: #803d0e;
$sorbus950: #451d05;
$negro: #000000;
$blanco: #ffffff;

//Tamaños de MQ
$telefono: 480px;
$tablet: 768px;
$desktop: 1250px;
$desktopXL: 1920px;