@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 11));
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(calc(-250px * 11));
    }
    100% {
        transform: translateX(0);
    }
}

.slider {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider .slide-track-left {
    animation: scroll-left 40s linear infinite;
    display: flex;
    width: calc(250px * 22);
    gap: 40px;
}

.slider .slide-track-right {
    animation: scroll-right 40s linear infinite;
    display: flex;
    width: calc(250px * 22);
    gap: 40px;
    direction: rtl; /* Hace que el contenido se alinee desde la derecha para la animación inversa */
}

.slider .slide {
    height: 100px; /* Ajustado para una mejor visualización */
    width: 250px;
   
}
