@use 'base/mixins' as m;
@use 'base/variables' as v;


.ambiente-container {
  margin-top: 2rem;
  width: 100%;

  .imagen {
    position: relative;
    width: 100%; 
    overflow: hidden;
    height: 20rem;

    @include m.telefono{
        height: 30rem;
      }
    @include m.tablet {
      height: 45rem; // Una altura fija para tablets, ajusta según sea necesario
  
      }
  // Estilos para pantallas aún más grandes (desktops)
    @include m.desktop {
      height: 50rem; // Una altura fija para desktops, ajusta según sea necesario
     }

    img {
      width: 100%; // La imagen ocupa todo el ancho de su contenedor
      height: auto; // La altura se ajusta automáticamente para mantener la relación de aspecto
      object-fit: cover; // Asegura que la imagen cubra el contenedor
      object-position: left center; // Alinea la imagen a la izquierda y al centro verticalmente 
    
      @include m.telefono{
        height: auto;
      }

      @include m.tablet {
          height: auto; // Una altura fija para tablets, ajusta según sea necesario
      }
      // Estilos para pantallas aún más grandes (desktops)
      @include m.desktop {
          height: auto; // Una altura fija para desktops, ajusta según sea necesario
      }
    }

    

    .overlay{
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 100%, rgba(0, 0, 0, 0.65) 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  
        p{
          color: v.$blanco;
          font-size: 1.5rem;
          font-weight: 400;
          margin: 0 2rem;
          padding: 1.3rem;

          @include m.telefono{
            font-size: 2rem;
          }

          @include m.tablet{
            font-size: 3rem;
          }
        }
      }
  }
}

.logos {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  font-size: .5rem;
  .certificado {
    width: auto; 
    height: 2rem; 
    margin: 0 5px; 
  }

  @include m.telefono {
    justify-content: space-around;
    font-size: 2rem;

    .certificado {
      width: auto; 
      height: 3rem; 
      margin: 0 5px; 
    }
  }
  @include m.tablet{
    overflow: hidden;
    padding: 1.5rem 0;
    background: v.$blanco;
    font-size: 8rem;
    justify-content: space-around;
    font-size: 2rem;

    .certificado { 
      width: auto; 
      height: 4rem; 
      margin: 0 10px; 
    }
  }
}


.iconos-ambiente {
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  @include m.tablet{
    display: flex;
   align-items: center;
  }

  .icono-amb {
    text-align: center;
    width: auto; 
    margin-bottom: 1.5rem;
    
    @include m.tablet{
      margin: 0 1rem;
    }



    p {
      font-size: 1.3rem;
      color: v.$negro;
      margin: 0 auto; 
      text-align: center;
      align-items: center;
      width: 30rem; 
      
      @include m.telefono {
        font-size: 1.3rem; 
        width: 45rem; 
        margin: 1rem auto; 
        text-align: center;
        
      }
      @include m.tablet {
        text-align: center;
        width: 23rem; 
        margin: 0 auto; 
        font-size: 1.4rem; 

      }

      
    }
  }

  .icon-indv {
    font-size: 4rem;
    margin-bottom: 1rem;

    @include m.telefono {
      font-size: 3rem; 
    }
  }
}
@include m.tablet {
  .iconos-ambiente {
    flex-direction: row; // 
    justify-content: space-evenly;
    gap: 0; 

    .icono-amb {
      width: auto; 
      text-align: center; 
    }
  }
}
  
  