@use "base/variables" as v;
@use "base/mixins" as m;

.footer {
  background-color: v.$negro;
  color: v.$blanco;
  border-radius: 3rem 3rem 0 0;
  height: 100%;
  margin-bottom: 0;
  padding: 1rem;

  .logo-footer {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0;

    .logo {
      padding-right: 0;
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;

    a {
      text-decoration: none;
      color: v.$blanco;
      transition: 0.5s;
      &:hover {
        color: v.$sorbus500;
      }
    }

    .social-link {
      width: 3.5rem;
      height: 3.5rem;
      transition: 0.5s;
      &:hover {
        color: v.$sorbus500;
        cursor: pointer;
      }
      @include m.tablet {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.navegacion-footer {
  margin: 0;

  @include m.tablet {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    margin: 1.5rem 2rem;
    width: 100%;
  }
  a {
    display: block;
    text-align: center;
    color: v.$blanco;
    margin-bottom: 2rem;
    width: auto;
    transition: 0.5s;

    @include m.tablet {
      margin: 0;
    }

    &:hover {
      color: v.$sorbus500;
    }
  }
}

.contenido-footer {
  display: flex;
  width: auto;
  flex-direction: column; // Inicialmente en columna para pantallas pequeñas
  align-items: center;
  padding: 0 1rem;

  .bloque {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    margin: 4rem 0 2rem 1rem;
    align-items: center;
    text-align: center;
    width: 70%;
  }

  @include m.telefono {
    flex-direction: row; // Cambiar a fila después de 480px
    margin: 2rem 2rem 0 2rem;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5rem 1rem 2rem 1rem;
  gap: 2rem;

  @include m.telefono {
    width: auto;
    text-align: right;
    gap: 2rem;
  }

  @include m.tablet {
    text-align: center;
    width: 50%;
    gap: 0;
  }

  h3 {
    color: v.$sorbus500;
    font-size: 2.1rem;
    margin-bottom: 2rem;

    @include m.telefono {
      font-size: 2.6rem;
    }
  }

  h4 {
    font-size: 1.9rem;

    @include m.telefono {
      font-size: 1.7rem;
    }
  }

  p {
    font-size: 1rem;
    margin-bottom: 3rem;
    gap: 2rem;

    @include m.telefono {
      font-size: 1.3rem;
    }
  }
}

.derechos-reservados {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  color: v.$blanco;
  p {
    font-size: 1rem;
  }

  @include m.telefono {
    text-align: center;
    padding: 0.5rem 0;
    p {
      font-size: 0.875rem;
      margin-bottom: 1rem;
      line-height: 1.2rem;
    }
  }

  @include m.tablet {
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

// Media query para tamaño de celular (antes de 480px)
@media (max-width: 479px) {
  .footer {
    .contenido-footer {
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
    }

    .contact-info {
      margin: 2rem 1rem 1rem 1rem;
      p {
        font-size: 0.875rem;
        margin-bottom: 1rem;
        line-height: 1.2rem;
      }
    }

    .derechos-reservados {
      padding: 0.5rem 0;
      p {
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }
  }
}
