@use 'base/mixins' as m;
@use 'base/variables' as v;

.movies{
 
  padding: 5rem 0 15rem 0;
  padding: 3rem;
}

.swiper{

  margin-top: 3rem;
  width: 100%;
  .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
  }
  
  .swiper-slide img{
    display: block;
    width: 100%;
  }
}

.iconosmin-contenedor{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include m.tablet{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .iconmin{
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    img{
      width: 4.5rem;
      height: 4.5rem;

      &:hover{
        background-color: v.$sorbus600;  
        cursor: pointer;
        border-radius: 50%;
      }

      @include m.tablet{
        width: 10rem;
       height: 10rem;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  z-index: 2;

  .overlay-content {
   
    max-width: 90%;
    display: flex;
    align-items: center;
  
  
    img {
      max-width: 90%;
      display: flex;
      align-items: center;
      max-height: 80vh;
    }
    .overlay-content p {
      color: #fff;
      margin-left: 20px;
    }
  }
}

