@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin:1.3rem 0;

  &:before,&:after{
    content: "";
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    z-index: 2;
}

&:before{
    left: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%);
}

&:after{
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 20%);
}
  
@include m.tablet {
  
      &:before {
        left: 0;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
      }
  
      &:after {
        right: 0;
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 70%);
    }
 }
  
  .slide-left, .slide-right {
    overflow: hidden;
    width: 100%;

    .logos-slide {
      display: flex;
      gap: 2rem;
      animation: slideLeft 800s linear infinite;

      img {
        height: 2rem; // Altura fija de los logos
        width: 11.5rem; // Mantener la proporción de los logos
        &:hover{
          cursor: pointer;
          filter: brightness(0) saturate(100%) invert(49%) sepia(95%) saturate(4200%) hue-rotate(356deg) brightness(100%) contrast(101%);
      }
      }
    }
  }

  .slide-left .logos-slide {
    display: flex;
    width: calc(11.5rem * 44);
    animation: slideLeft 80s linear infinite;
  }

  .slide-right .logos-slide {
    animation: slideRight 80s linear infinite;
    display: flex;
    width: calc(11.5rem * 44);
  }
}

@keyframes slideLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(calc(-11.5rem * 22)); // Desplaza exactamente el ancho de todos los logos originales una vez
  }
}

@keyframes slideRight {
  0%, 100% {
    transform: translateX(calc(-11.5rem * 22)); // Comienza al final de los logos originales y termina en el mismo lugar
  }
  50% {
    transform: translateX(0);
  }
}