@use 'base/mixins' as m;
@use 'base/variables' as v;


.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50rem;
  background: v.$negro;
  border-radius: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
  h2{
    color: v.$blanco;
    column-gap: 5rem;
    display: block;
    align-items: center;
  }
}
.menu {
  margin: 3rem auto;
  position: relative;
  width: 26rem;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;

  li {
    position: absolute;
    left: 0;
    list-style: none;
    transform: rotate(0deg) translateX(100px);
    transform-origin: 130px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 22px;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
    color: transparent;
    transition-delay: 0.5s;
    filter: drop-shadow(0 0 2px var(--clr));

    &:before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      border-radius: 2px;
      background: var(--clr);
      transform: rotate(calc(90deg * var(--i))) translate(0, 25px);
      transition: width 0.5s, height 0.5s, transform 0.5s;
      transition-delay: 0.5s, 1s, 1.5s;
    }
  }
}

.menu.active{

  .menuToggle {
    transform: rotate(315deg);
  }

  li {
    transform: rotate(calc(360deg / 8 * var(--i)));

    &:hover a::before {
      background: var(--clr);
    }

    &:hover a ion-icon {
      color: #161616;
    }

  }

  a {
    color: var(--clr);
    position: relative;
    span {
      position: absolute;
      top: calc(100% + 1rem); // Posiciona debajo del menú
      left: 50%; // Centra el texto
      transform: translateX(-50%); // Asegura el centrado exacto
      color: var(--clr); // Usa el color definido en --clr
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
    }

    &:before {
      width: 50px;
      height: 50px;
      background: #161616;
      border: 2px solid var(--clr);
      transform: rotate(calc(0 * var(--i)));
      transition: transform 0.5s, height 0.5s, width 0.5s;
      transition-delay: 0.5s, 1.5s, 1.5s;
      border-radius: 10px;
      filter: drop-shadow(0 0 5px var(--clr));
      rotate: 135deg;
    }
  }
}

.menuToggle {
  position: absolute;
  width: 60px;
  height: 60px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
  transition: 1.5s;
}


  p{
    color: v.$blanco;
  }

  .texto-menu{
    color: v.$blanco;
    font-size: 2.5rem;
    
  }