@use 'base/mixins' as m;
@use 'base/variables' as v;


.menu-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 50rem;
  background: v.$negro;
  border-radius: 5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  
  h2{
    color: v.$blanco;
    column-gap: 5rem;
    display: block;
    align-items: center;
    margin: 0 auto 4rem auto;
  }
}
.menu {
  margin-bottom: 9.5rem;
  position: relative;
  width: 26rem;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center; 

  li {
    position: absolute;
    left: 0;
    list-style: none;
    transform: rotate(0deg) translateX(100px);
    transform-origin: 13rem;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    text-decoration: none;
    font-size: 2.2rem;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
    color: transparent;
    transition-delay: 0.5s;
    filter: drop-shadow(0 0 2px var(--clr));

    &:before {
      content: "";
      position: absolute;
      width: 2rem;
      height: .2rem;
      border-radius: 2px;
      background: var(--clr);
      transform: rotate(calc(90deg * var(--i))) translate(0, 25px);
      transition: width 0.5s, height 0.5s, transform 0.5s;
      transition-delay: 0.5s, 1s, 1.5s;
    }
  }
}

.menu.active{

  .menuToggle {
    transform: rotate(315deg);
  }

  li {
    transform: rotate(calc(360deg / 8 * var(--i)));

    &:hover a::before {
      background: var(--clr);
    }

    &:hover a ion-icon {
      color: #161616;
    }

  }

  a {
    color: var(--clr);
    position: relative;
    
    &:before {
      width: 5rem;
      height: 5rem;
      background: #161616;
      border: 2px solid var(--clr);
      transform: rotate(calc(0 * var(--i)));
      transition: transform 0.5s, height 0.5s, width 0.5s;
      transition-delay: 0.5s, 1.5s, 1.5s;
      border-radius: 10px;
      filter: drop-shadow(0 0 5px var(--clr));
      rotate: 135deg;
    }
  }
}

.menuToggle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  color: v.$blanco;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
  font-size: 3.7rem;
  transition: 1.5s;
}


  p{
    color: v.$blanco;
  }

  .texto-menu{
    color: v.$blanco;
    font-size: 2.5rem;
    
  }


.centro-linea-horizontal, .centro-linea-vertical {
  position: absolute;
  background-color: red; /* Color visible para la línea */
  z-index: 1000; /* Asegura que las líneas estén por encima de otros elementos */
}

.centro-linea-horizontal {
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px; /* Grosor de la línea horizontal */
}

.centro-linea-vertical {
  top: 0;
  left: 50%;
  width: 1px; /* Grosor de la línea vertical */
  height: 100%;
}